*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}
h3{
    color:white;
    
    text-shadow: 0px 0px 10px azure;
    font-weight: bold;
    font-family: cursive;
    font-size: 180px;
    margin-top: 150px;
    margin-left: 450px;
}

.f1 h2{
    color:azure;
    margin-left: 650px;
    margin-top: 20px;
    font-size: 50px;
}

.mr h1{
   
    color: azure;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 50px;
    margin-top: 20px;
    
    
}

.mn{
    display: inline;
    color:yellow;
    text-shadow: 0px 5px 0px  red;
}

.text {
    color:seashell;
}
.text .pp{
    float: right;
    
}
.text .pp:hover{
    color: skyblue;
    text-shadow: 0px 0px 40px white;
    cursor:wait;
}

.y{
    color: white;
}

.tex{
    color:whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 1200px;

}
.n h5{
    color:white;
    
   
}

.id{
margin-top: 230px;
margin-left: 900px;
}
.id:hover{
    text-shadow: 0px 0px 40px orange;

}

.id .ppp .m{
    text-decoration: none;
    font-size: 20px;
    color: red;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color:black;
    width: 20ox;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    color:salmon;
    float: left;
    
}


