
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    height:auto;
}
body .a{
    margin: 0px;
    background-color: #202124;
    width:25%;
    height:800px;
    
    border-radius: 0px 30px 30px 0px;
    margin-top: 100px;
    box-shadow: 3px 5px 6px 7px rgb(230, 181, 181);
   float: left;
   
}

body .a img{
    border-radius: 50%;
    height:400px;
    width:400px;
    margin-top: 220px;
    margin-left: 50px;
    z-index: 1;
    
    
    
}

h3{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    text-shadow: 0px 0px 10px azure;
    text-decoration:underline;
    
}
h2{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:orange;
    
    text-decoration:underline;
}

#about{
color:white ;
height:500px;

text-align:center ;
}
.mn{
    display:inline;
    
}
.mns{
    display:inline;
    color: orange;
    text-shadow: 0px 0px 10px red;

}

.ab{
   display: inline;
   text-align: left;
   
}

.ab .nm{
    display: inline;
    text-align: center;
    font-size: 25px;

}
.ab .m{
    color: mediumspringgreen;
    display: inline;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
.class{
  
    
}

.class a{
    background-color:orangered;
    opacity: 0.5;
    
    padding:15px;
    text-decoration: none;
    color: azure;
    
    border-radius: 5px;


    
}

.class a:hover{
    opacity:1;
    background-color: rgb(243, 81, 7);
}

.fb{
    font-weight: bold;
   font-size: 50px;
   margin: 5px;
   padding: 15px;
   text-align: center;
   
}
.fb a{
    
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
}

.fa{
    color:whitesmoke;
}


.mrsn{
    
    background-color: darkmagenta;
    color: snow;
    text-decoration: none;
    width: 70px;
    padding:20px;
    margin-left:90%;
    border-radius: 15px;
    
    
}
.mrsn a{
    color: snow;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(243, 81, 7);
    font-weight: bold;
    font-family: cursive;

}