
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/wall.gif);
    background-size: cover;
    background-repeat: no-repeat;

    
   
}

.back{
    color: azure;
    font-family: cursive;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    margin-top: 170px;
    text-shadow: 0px 0px 10px azure;
    

}

.p{
    color: cyan;
    text-decoration:none;
    font-size: 150px;
    float: right;
    margin-right: 60px;
    margin-top: 500px;
    text-shadow: 0px 0px 10px cyan;
    
}


h4{
    font-family: cursive;
    position: inherit;
    margin-top: 630px;
    
    margin-left:830px;
    color:darkgray
}

h5{
    color: darkgrey;
    font-weight: bold;
    margin-left:990px;
}

.mr{
    text-decoration: none;
    color: darksalmon;
}

.back:hover{
    color:ghostwhite;
background-image: linear-gradient(to right,orange,yellow,pink);
cursor: pointer;
}

h4:hover{
    color:ghostwhite;
    cursor:grab;
}
h5:hover{
    color:whitesmoke;
    cursor: context-menu;
}
h5 .mr{
    color:gold;
    text-shadow: 0px 0px 10px white;
    cursor: wait;
}

.p:hover{
  
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
}



